name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Always enable colored output in Cargo (for better readability in CI logs)
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Setup Rust Toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install just
      uses: taiki-e/install-action@just

    - name: Check
      run: just check
    
    - name: Build
      run: just build
    
    - name: Run Unit Test
      run: just test
